
@{
    ViewBag.Title = "GetAllProducts";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Company</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach(SampleMvcApp.Models.Product product in ViewBag.ProductList)
         {
             <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Company</td>
                <td>@product.Price</td>
             </tr>
         }
    </tbody>
</table>

