
@{
    ViewBag.Title = "ProductList";
}

<h2>Product List</h2>
<h3>
    @ViewData["message"]
</h3>
<div>
    <ol>
        @foreach (var item in ViewBag.Products)
        {
            <li>
                @item
            </li>

        }
    </ol>
 </div> 
